plugins {
    id 'nf-amazon'
}

process {
    executor = 'awsbatch'
    queue = 'selectml-workq'
    container = 'darcyabjones/selectml:0.0.2'
    errorStrategy = "ignore"
    cpus = 16
    memory = 29.GB
}

aws {
    batch {
        // NOTE: this setting is only required if the AWS CLI tool is installed in a custom AMI
        cliPath = '/home/ec2-user/miniconda/bin/aws'
        maxTransferAttempts = 5
    }
    region = 'ap-southeast-2'

    client {
        connectionTimeout = 10000
    }
}
