singularity.runOptions = '-B $MYGROUP -B $MYSCRATCH --pwd $(pwd)'

process {
  // These are default values used for anything not specified with a label.
  cpus = 1
  memory = 1.GB

  executor = 'slurm'
  time = '23h'
  queue = 'workq'
  queueSize = 96
  module = 'singularity'
  errorStrategy = "ignore"

  cpus = 14
  memory = 63.GB
  time = 12.h
}
